<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Welcome to User Role Home</title>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<div class="container text-center">
	<h1>Welcome to Role Home</h1>
	<h3><a th:href="@{/users}">List of Users</a></h3>
	<h3><a th:href="@{/register}">Register</a></h3>
	<h3><a th:href="@{/login}">Login</a></h3>
</div>

</body>
</html>
